html {
  scroll-behavior: smooth;
}

.sections {
  display: flex;
  flex-direction: column;
  padding-left: 90px;
  padding-top: 15px;
  gap: 13px;
  padding-bottom: 15px;
  padding-right: 92px;
}

.heading {
  font-family: Plus Jakarta Sans;
}

.contact {
  display: flex;
  flex-direction: row;
  padding-left: 90px;
  padding-top: 15px;
  gap: 13px;
  padding-bottom: 15px;
  padding-right: 92px;
}

@media (max-width: 720px) {
  .sections {
    padding: 0.426rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 520px) {
  .sections {
    font-size: 10px;
  }
}
